<!DOCTYPE HTML>
<html lang="ja">
<meta charset="UTF-8">
<head>
<title>{{title}}</title>
<link rel="stylesheet" href="./resources/css/reset.css">
<link rel="stylesheet" href="./resources/css/main.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body Onload="javascript:loaded()">
<div class="load">
<table style="width:100%;" class="color-white position-absolute top-50">
<tbody>
<tr>
<td class="text-center load-font-big">
loading...
</td>
</tr>
<tr>
<td class="text-center">
<span class="load-span load-animation"></span>
<span class="load-span load-animation2"></span>
</td>
</tr>
</tbody>
</table>
</div>
<table width="100%">
	<tbody>
		<tr>
			<td class="text-center">
        <p>{{title}}</p>
				<video id="vid" width="80%" muted></video>
				<audio id="aud"></audio>
				<hr>
				<button Onclick="javascript:play()">再生</button>
			</td>
		</tr>
    <tr>
      <td class="text-center">
        <hr>
	<span id="desc"></span>
	<script>
		var dm = "{{description}}";
		document.getElementById("desc").insertAdjacentHTML("afterbegin", dm.replace("/&lt;/g", "<").replace("/&gt;/g", ">"));
	</script>
	<hr>
      </td>
    </tr>
    <tr>
      <td class="text-center">
	<span id="com"></span>
	<script>
		var com = "{{comment}}";
		document.getElementById("desc").insertAdjacentHTML("afterbegin", com.replace("/&lt;/g", "<").replace("/&gt;/g", ">"));
	</script>
      </td>
    </tr>
</tbody>
</table>
</body>
<script>
document.getElementById("vid").src = "{{v}}";
document.getElementById("aud").src = "{{a}}";
</script>
<script src="./resources/js/main.js"></script>
</html>
